.navbar-inverse .navbar-nav > li > a {
  color: white !important;
}

.navbar-inverse .navbar-nav > li > a:hover {
  text-decoration: underline;
}

.navbar-collapse ul li {
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-collapse ul li a {
  padding-top: 0px;
  padding-bottom: 0px;
}

.navbar-brand img {
  width: 200px;
  height: 40px;
}

.navbar-inverse {
  background-color: #3a1b37;
}

.navbar-fixed {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
}
#custom-nav {
  -webkit-box-shadow: 2px 2px 2px #2e78ee;
  -moz-box-shadow: 2px 2px 2px #2e78ee;
  box-shadow: 2px 2px 2px #2e78ee;
  z-index: 999;
}

.form-control {
  background-color: #333333;
  width: 800px;
  height: 35px;
}
